{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."]
      }
    ],
    [
      "emotion",
      {
        "inline": true
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": [
          "css$"
        ]
      }
    ]
  ]
}
